    <% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card" style="width: 18rem;">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= campground.title %></h5>
                  <p class="card-text"><%= campground.description %></p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted"><%= campground.location %></li>
                    <li class="list-group-item">$<%= campground.price %>/night</li>
                  </ul>
                  <a class= "card-link btn btn-primary" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                  <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                    <button class= "btn btn-primary">Delete</button>
                </form>
                </div>
              </div>

              <h2 class="mt-5">Leave a review</h2>
              <form action="/campgrounds/<%=campground._id%>/reviews" method="POST">
                <div class="mb-3">
                  <label class='form-label' for="rating">Rating</label>
                  <input type="range" min=1 max=5 class="form-range" name="review[rating]" id="rating">
                </div>
                <div class="mb-3">
                  <label class='form-label' for="rev-body">Review</label>
                  <textarea class='form-control' name="review[body]" id="rev-body" cols="30" rows="3"></textarea>
                </div>
                <button class="btn btn-success">Add review</button>
              </form>
        </div>
    </div>

    <footer>
        <a href="/campgrounds">All Campgrounds</a>
    </footer>